<table class="listing">
<% 
  old_created_on = nil
  case_count = 0
  doctor_count = 0
%>
<% for mailing in @mailings %>
<% 
  # group header 'created_on'
  created_on = mailing.created_at.to_date
  is_header = !(created_on == old_created_on)
  is_first_header = old_created_on.nil?
  
  case_count += mailing.cases.count
  doctor_count += 1
%>
  <% if is_header %>
    <% unless is_first_header %>
      <tr class="group_footer">
        <td>Total</td>
        <td style="text-align: right"><%= case_count %></td>
        <td>für <%= doctor_count %> &Auml;rzte</td>
	<td/>
      </tr>
    <% end %>
  <tr class="group_header">
    <th style="width: 12em" title="<%= mailing.created_at.strftime('am %d.%m.%Y um %H:%M') %>"><%=h mailing.created_at.strftime('%a %d. %b') %></td>
    <th style="width: 5em; text-align: right">Anzahl</th>
    <th>Arzt</th>
    <th>Gesendet am</th>
    <th/>
  </tr>
  <% end %>
  <tr class="group_body">
    <td/>
    <td style="text-align: right"><%= link_to mailing.cases.count, :action => 'overview', :id => mailing %></td>
    <td>
      <%=h mailing.doctor.nil? ? "Unbekannt" : mailing.doctor.name %>
      <pre id="mailing_log_<%=h mailing.id %>"><%= loading_indicator_tag :id => "mailing_#{mailing.id}" %></pre>
    </td>
    <td>
      <%- for send_queue in mailing.send_queues %>
        <i><%=h send_queue.channel %>:</i>
        <%=h send_queue.sent_at.nil? ? "ready to send" : send_queue.sent_at.strftime('%d.%m.%Y') %>
        <br/>
      <%- end %>
    </td>
    <td>
      <%= link_to_remote("Resultate freigeben", :update => "mailing_log_#{mailing.id}", :loading => "Element.show('#{loading_indicator_id({:id => "mailing_#{mailing.id}"})}')", :url => {:controller => :mailings, :action => :send_by_all_channels, :id => mailing }) %><br/>
    </td>
  </tr>

<% 
  old_created_on = created_on
  case_count = 0 if is_header
  doctor_count = 0 if is_header
%>
<% end %>
</table>
