.contextual
  .btn-group{:style => 'display: inline-block'}
    = link_to "Neue Mailings", mailings_path(:by_state => :unsent), :class => 'btn'
    = link_to "Alle Mailings", mailings_path, :class => 'btn'

= boot_page_title "Resultat Versand"

= render 'list'

.contextual
  = link_to "Resultate drucken", print_all_send_queues_path, :method => :post, :remote => true, :class => 'btn btn-primary'
  = link_to "Resultate mailen", send_all_send_queues_path, :method => :post, :remote => true, :class => 'btn btn-primary' unless current_tenant.settings['mail.use_cylab']

= boot_page_title "Zum Versand bereit"

= render 'send_queues/list', :collection => SendQueue.order('created_at DESC').by_state(:unsent)
