.contextual
  = link_to "Freigegebene Resultate drucken", print_all_mailings_path, :method => :post, :remote => true, :class => 'btn btn-primary'

  .btn-group{:style => 'display: inline-block'}
    = link_to "Neue Mailings", mailings_path(:by_state => :unsent), :class => 'btn'
    = link_to "Alle Mailings", mailings_path, :class => 'btn'

= boot_page_title "Resultat Versand"

= render 'list'
