<h2>Resultat Versand</h2>
<%= link_to "Alle Mailings freigeben", :action => :send_all %><br/>
<%= link_to "Freigegebene Resultate drucken", :action => :print_all %><br/>
<%= link_to "Ältere Mailings", :controller => :send_queues %><br/>
<pre id="print_result_reports_log"><%= loading_indicator_tag :id => 'print_result_reports' %></pre>

<%= render 'list' %>
