<h2>Resultat Versand</h2>
<%= link_to "Alle Mailings freigeben", send_all_mailings_path, :method => :post %><br/>
<%= link_to "Freigegebene Resultate drucken", print_all_mailings_path, :method => :post %><br/>
<%= link_to "Freigegebene Mailings", :controller => :send_queues, :action => :list_open %><br/>
<%= link_to "Ältere Mailings", :controller => :send_queues %><br/>
<pre id="print_result_reports_log"><%= loading_indicator_tag :id => 'print_result_reports' %></pre>

<%= render 'list' %>
