= boot_page_title "Resultat Versand"

%div{:style => 'margin-bottom: 10px'}
  .btn-group{:style => 'display: inline-block'}
    = link_to "Freigegebene Resultate drucken", print_all_mailings_path, :method => :post, :class => 'btn'
    %button.btn.dropdown-toggle{'data-toggle' => 'dropdown'}
      %span.caret
    %ul.dropdown-menu
      = link_to "Alle Mailings freigeben", send_all_mailings_path, :method => :post
      = link_to "Freigegebene Mailings", send_queues_path(:by_state => :unsent)
      = link_to "Ältere Mailings", send_queues_path

= render 'list'
