%div{:style => "margin-left: 2em; margin-top: 1em"}
  %table
    %tr
      %td{:style => "vertical-align: top"}
        %p
          = link_to image_tag('case_assignment.png', :size => '45x45'), new_case_assignments_path
          %i{:style => "font-size: 12pt"}
            %b= @assign_count
            Auftragsformulare.
        %p
          = link_to image_tag('first_entry.png', :size => '45x45'), :controller => 'cases', :action => 'first_entry_queue'
          %i{:style => "font-size: 12pt"}
            %b= @first_entry_count
            Ersteingaben.
        %p
          = link_to image_tag('second_entry.png', :size => '45x45'), :controller => 'cases', :action => 'second_entry_queue'
          %i{:style => "font-size: 12pt"}
            %b= @second_entry_count
            Zweiteingaben.
        - if current_tenant.settings['modules.p16']
          %p
            = link_to image_tag('second_entry.png', :size => '45x45'), :controller => 'cases', :action => 'hpv_p16_queue'
            %i{:style => "font-size: 12pt"}
              %b= @p16_count
              p16 (
              %b= @p16_prepared_count
              herausgesucht) und
              %b= @hpv_count
              HPV
        %p
          = link_to image_tag('review.png', :size => '45x45'), :controller => 'cases', :action => 'review_queue'
          %i{:style => "font-size: 12pt"}
            %b= @review_count
            Reviews.
      %td{:style => "vertical-align: top; padding-left: 5em"}
        %p
          = link_to image_tag('print_result.png', :size => '45x45'), generate_mailings_path, :method => :post
          %i{:style => "font-size: 12pt"}
            %b= @result_for_delivery_count
            Neue Resultate
        - if current_tenant.settings['module.billing_queue']
          %p
            = link_to image_tag('print_result.png', :size => '45x45'), billing_queue_cases_path
            %i{:style => "font-size: 12pt"}
              %b= @result_for_billing_count
              = t_title(:billing_queue, Case)
