<div style="margin-left: 2em; margin-top: 1em">
<table>
  <tr>
    <td style="vertical-align: top">
      <p>
          <%= link_to image_tag('assign.png', :size => '45x45'), :controller => 'cases', :action => 'unassigned_form' %>
          <i style="font-size: 12pt"><b><%= @assign_count %></b> Auftragsformulare.</i>
      </p>

      <p>
          <%= link_to image_tag('first_entry.png', :size => '45x45'), :controller => 'cases', :action => 'first_entry_queue' %>
          <i style="font-size: 12pt"><b><%= @first_entry_count %></b> Ersteingaben.</i>
      </p>

      <p>
          <%= link_to image_tag('second_entry.png', :size => '45x45'), :controller => 'cases', :action => 'second_entry_queue' %>
          <i style="font-size: 12pt"><b><%= @second_entry_count %></b> Zweiteingaben.</i>
      </p>

      <p>
          <%= link_to image_tag('second_entry.png', :size => '45x45'), :controller => 'cases', :action => 'hpv_p16_queue' %>
          <i style="font-size: 12pt"><b><%= @p16_count %></b> p16 (<b><%= @p16_prepared_count %></b> herausgesucht) und <b><%= @hpv_count %></b> HPV</i>
      </p>

      <p>
          <%= link_to image_tag('second_entry.png', :size => '45x45'), :controller => 'cases', :action => 'review_queue' %>
          <i style="font-size: 12pt"><b><%= @review_count %></b> Reviews.</i>
      </p>
    </td>

   <td style="vertical-align: top; padding-left: 5em">
      <p>
          <%= link_to image_tag('printer_64.png', :size => '40x40'), doctor_order_form_path, :remote => true %>
	  <i style="font-size: 12pt">Papzettel Drucken</i>
      </p>
      
      <p>
          <%= link_to image_tag('printer_64.png', :size => '40x40'), case_label_label_print_path, :remote => true %>
          <i style="font-size: 12pt">Objektträger Etiketten drucken</i>
      </p>

      <p>
	  <%= link_to image_tag('printer_64.png', :size => '40x40'), case_label_p16_label_print_path, :method => :post, :remote => true %>
          <i style="font-size: 12pt">P16 Etiketten drucken</i>
      </p>

      <p>
          <%= link_to image_tag('printer_64.png', :size => '40x40'), post_label_label_print_path, :remote => true %>
          <i style="font-size: 12pt">Packet Etiketten drucken</i>
      </p>

      <p>
          <%= link_to image_tag('print_result.png', :size => '45x45'), generate_mailings_path, :method => :post %>
          <i style="font-size: 12pt"><b><%= @result_for_delivery_count %></b> Neue Resultate</i>
      </p>
    </td>

   </tr>
  </table>
</div>
