<h1>Editing finding_class</h1>

<%= form_tag :action => 'update', :id => @finding_class  do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @finding_class %> |
<%= link_to 'Back', :action => 'list' %>
