%h1 Editing examination_method
= form_tag :action => 'update', :id => @examination_method  do
  = render :partial => 'form'
  = submit_tag 'Edit'
= link_to 'Show', :action => 'show', :id => @examination_method
|
\#{link_to 'Back', :action => 'list'}
