<div style="margin-left: 9em; margin-top: 5em">
<table>
  <tr>
    <td style="vertical-align: top">
      <h2><%= link_to "Erfassen", :action => 'new' %></h2>
      <p>
          <%= link_to image_tag('assign.png'), :action => 'new' %>
          <i style="font-size: 13pt">Neue Fan-Post erfassen.</i>
      </p>

      <h2><%= link_to "Adresse prüfen", :action => :new_queue %></h2>
      <p>
          <%= link_to image_tag('first_entry.png'), :action => :new_queue %>
          <i style="font-size: 13pt">Es gibt <b><%= @new_count %></b> neu erfasste Fanpost.</i>
      </p>

      <h2><%= link_to("Fax verschicken", :action => 'doctor_fax') %></h2>
      <p>
          <%= link_to (image_tag('print_result.png'), :action => 'doctor_fax' ) %>
          <i style="font-size: 13pt">Es gibt <b><%= @verified_count %></b> Adressen zum faxen.</i>
      </p>
    </td>
   </tr>
  </table>
</div>
