= simple_form_for @classification_group do |f|
  .row-fluid
    .span6= f.input :title
    .span6= f.input :position
  .row-fluid
    .span6= f.input :color
    .span6= f.input :print_color
  .row-fluid
    .span12= f.association :classifications, :input_html => {:class => 'span12'}

  .form-actions
    = f.button :submit
