<table class="listing">
  <tr>
    <th>Arzt</th>
    <th style="width: 5em; text-align: right">Anzahl</th>
    <th>Mailing von</th>
    <th>Gesendet am</th>
    <th/>
  </tr>
  <% for send_queue in @send_queues -%>
  <% mailing = send_queue.mailing -%>
    <tr>
      <td>
        <%=h mailing.doctor.nil? ? "Unbekannt" : mailing.doctor.name %>
      </td>
      <td style="text-align: right"><%= link_to mailing.cases.count, :controller => 'mailings', :action => 'overview', :id => mailing %></td>
      <th style="width: 12em" title="<%= mailing.created_at.strftime('am %d.%m.%Y um %H:%M') %>"><%=h mailing.created_at.strftime('%a %d. %b') %></td>
      <td>
        <i><%=h send_queue.channel %>:</i>
        <%=h send_queue.sent_at.nil? ? "ready to send" : send_queue.sent_at.strftime('%d.%m.%Y') %>
        <span id="<%= "mailing_log_#{mailing.id}" %>"></span>
      </td>
      <td>
        <% if send_queue.sent_at %>
          <%= link_to("Resultate drucken", send_by_mailing_path(mailing, :channel => 'print'), :remote => true, :method => :post) if mailing.doctor.wants_prints %><br/>
          <%= link_to("E-Mail senden", send_by_mailing_path(mailing, :channel => 'email'), :remote => true, :method => :post) if mailing.doctor.wants_email %><br/>
          <%= link_to("HL7 senden", send_by_mailing_path(mailing, :channel => 'hl7'), :remote => true, :method => :post) if mailing.doctor.wants_hl7 %>
        <% else %>
          <%= link_to("Resultate drucken", print_send_queue_path, :method => :post) if mailing.doctor.wants_prints %><br/>
        <% end %>
      </td>
    </tr>
  <% end -%>
</table>
