- mailing = send_queue.mailing
%tr[send_queue]
  %td
    = mailing.doctor.nil? ? "Unbekannt" : mailing.doctor.name
  %td{:style => "text-align: right"}= link_to mailing.cases.count, mailing
  %td= mailing.created_at
  %td
    = send_queue.sent_at.nil? ? "ready to send" : send_queue.sent_at.to_date
    .pull-right= channel_label(send_queue.channel)
  %td
    - if mailing.doctor
      = link_to t_send_by(send_queue.channel), [:perform, send_queue], :remote => true, :method => :post
