- mailing = send_queue.mailing
%tr[send_queue]
  %td
    = mailing.doctor.nil? ? "Unbekannt" : mailing.doctor.name
  %td{:style => "text-align: right"}= link_to mailing.cases.count, :controller => 'mailings', :action => 'overview', :id => mailing
  %td= mailing.created_at
  %td
    = send_queue.sent_at.nil? ? "ready to send" : send_queue.sent_at.to_date
    .pull-right= channel_label(send_queue.channel)
  %td
    - if send_queue.sent_at
      = link_to("Resultate erneut drucken", send_by_mailing_path(mailing, :channel => 'print'), :remote => true, :method => :post) if mailing.doctor.wants_prints
      %br/
      = link_to("E-Mail erneut senden", send_by_mailing_path(mailing, :channel => 'email'), :remote => true, :method => :post) if mailing.doctor.wants_email
      %br/
      = link_to("HL7 erneut senden", send_by_mailing_path(mailing, :channel => 'hl7'), :remote => true, :method => :post) if mailing.doctor.wants_hl7
    - else
      = link_to("Resultate drucken", print_send_queue_path(send_queue), :remote => true, :method => :post) if mailing.doctor.wants_prints
      %br/
