= simple_form_for resource do |f|
  .row-fluid
    .span6= f.input :case_copy_channels, :as => :select, :collection => doctor_channels_collection, :input_html => {:multiple => true, :class => 'select2'}

%table.table.table-striped
  %tr
    %th= t_attr :date
    %th= t_model Case
    %th= t_model Doctor

  - collection.each do |case_copy_to|
    %tr[case_copy_to]
      %td= case_copy_to.case.entry_date
      %td= link_to case_copy_to.case, case_copy_to.case
      %td= link_to case_copy_to.case.doctor, case_copy_to.case.doctor
