<%= error_messages_for 'task' %>

<!--[form:task]-->
  <%= select("task_type", 'name', {"HPV aufbereiten" => 'HpvTask', "P16 aufbereiten" => "P16Task", "Chübele" => "CentrifugeTask"})  %>&nbsp;
  <%= select 'task', 'employee_id', Employee.all.collect {|e| [e.code, e.id] }  %>&nbsp;
  <label for="task_due_on">Am:</label><%= text_field 'task', 'due_on', :size => 10 %>&nbsp;
  <label for="task_amount">Anzahl:</label><%= text_field 'task', 'amount', :value => 1, :size => 3, :style => 'text-align: right' %>
<!--[eoform:task]-->

