<h1>Aufgabenliste</h1>

<table class="listing">
  <tr>
    <th>Aufgabe</th>
    <th>Anzahl</th>
    <th>Für</th>
    <th>Fällig am</th>
  </tr>
  
<% for task in @tasks %>
  <tr>
    <td><%=h task.title unless task.class == Task %></td>
    <td><%=h task.amount %></td>
    <td><%=h task.employee.code unless task.employee.nil? %></td>
    <td><%=h task.due_on.nil? ? "unbekannt" : task.due_on.strftime('%d.%m.%Y') %></td>
    <td>
      <%= link_to 'Show', :action => 'show', :id => task %>
      <%= link_to 'Destroy', { :action => 'destroy', :id => task }, :confirm => 'Are you sure?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @tasks %>

<br />

<%= link_to 'New task', :action => 'new' %>
