<h1>Editing honorific_prefix</h1>

<%= form_tag :action => 'update', :id => @honorific_prefix  do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @honorific_prefix %> |
<%= link_to 'Back', :action => 'list' %>
