<%= error_messages_for 'insurance' %>

<!--[form:insurance]-->
<p>
  <label for="vcard_full_name">Name</label>:
  <%= text_field 'vcard', 'full_name'  %>
</p>

<p>
  <label for="vcard_street_address">Strasse</label>:
  <%= text_field 'vcard', 'street_address'  %>
</p>

<p>
  <label for="vcard_locality">PLZ/Ort</label>:
  <%= text_field 'vcard', 'postal_code', :size => '7'  %> <%= text_field 'vcard', 'locality'  %>
</p>

<p>
  <label for="vcard_phone_number">Telefon</label>:
  <%= text_field 'vcard', 'phone_number'  %>
</p>

<p>
  <label for="vcard_fax_number">Telefax</label>:
  <%= text_field 'vcard', 'fax_number'  %>
</p>

<!--[eoform:insurance]-->

