<h1>Editing insurance</h1>

<%= form_tag :action => 'update', :id => @insurance  do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @insurance %> |
<%= link_to 'Back', :action => 'list' %>
