= @insurance.vcard.full_name
%br/
= @insurance.vcard.street_address
%br/
= @insurance.vcard.postal_code
= @insurance.vcard.locality
%br/
= link_to 'Edit', :action => 'edit', :id => @insurance
|
\#{link_to 'Back', :action => 'list'}
