= simple_form_for [parent, resource], :remote => true, :html => {:class => 'no-well'} do |f|
  .pull-right
    = link_to '#', :onclick => "$('.input-alt-person').toggle()", :class => 'btn' do
      %i.icon-plus
  .row-fluid.input-alt-person
    .span6
      = f.association :person, :input_html => {:class => 'select2'}
  .input-alt-person{:style => 'display: none'}
    = f.fields_for :person, Person.new do |p|
      = render 'people/address_form', :f => p, :resource => p.object, :controller_name => 'people'
  .row-fluid
    .span6= f.input :channels, :as => :select, :collection => doctor_channels_collection, :input_html => {:multiple => true}


  .form-actions
    = f.button :submit
