.page-header
  %h1 Fallinfo

.well
  %dl
    %dt= t_attr(:praxistar_eingangsnr, Case)
    %dd.label
      = case_info.praxistar_eingangsnr unless case_info.praxistar_eingangsnr.nil?
      = "(#{case_info.intra_day_id unless case_info.intra_day_id.nil?})"

    - if case_info.examination_date
      %dt= t_attr(:examination_date, Case)
      %dd.label= case_info.examination_date.strftime('%d.%m.%Y')
    - if case_info.entry_date
      %dt= t_attr(:entry_date, Case)
      %dd= case_info.entry_date.strftime('%d.%m.%Y')
    %dt= t_attr(:examination_method)
    %dd.label= case_info.examination_method.name unless case_info.examination_method.nil?

    %dt= t_attr(:slidepath, Case)
    %dd.label{:id => "slidepath_links_#{case_info.id}"}/
    :javascript
      $.ajax({
          type: 'POST',
          url: '#{slidepath_links_url(:case_id => case_info.id)}',
          success: function(data){eval(data);}
      });
