.modal
  = modal_header 'Befund bearbeiten'

  .modal-body
    = simple_form_for @case, :url => update_finding_text_case_path(@case), :method => :post do |f|
      .row-fluid
        .span12
          = f.input :finding_text, :wrapper => :inline, :input_html => {:cols => 58, :rows =>5, :class => "tinymce"}
      .row-fluid.hidden-actions
        .form-actions
          = f.button :submit

  .modal-footer
    = link_to t_action(:update), '#', :class => 'btn submit-button'
    = link_to t_action(:cancel), '#', :class => 'btn', 'data-dismiss' => 'modal'
