= simple_form_for resource do |f|
  .row-fluid
    .span6
      = link_to image_tag(inline_order_form_url(@case.order_form, :type => :overview)), resource.order_form if resource.order_form

    .span6
      %h3= t_action(:assign)
      .row-fluid
        .span6= f.input :praxistar_eingangsnr
      .row-fluid
        .span6= f.input :examination_date, :as => :string
      .row-fluid
        .span6= f.input :entry_date, :as => :string
      .row-fluid
        .span6= f.association :doctor, :as => :select, :collection => doctors_collection, :input_html => {'data-placeholder' => 'Arzt auswählen', :class => 'select2'}
      .row-fluid
        .span6= f.association :examination_method

      %h3= t_action(:first_entry)
      .row-fluid
        .span6= f.association :patient, :input_html => {'data-placeholder' => 'Patient auswählen', :class => 'select2'}

      %h3= t_action(:second_entry)
      .row-fluid
        .span12= f.input :finding_text, :input_html => {:class => 'span12 tinymce'}

  .form-actions
    = f.button :submit

- configuration = TinyMCE::Rails.configuration
:javascript
  $(document).ready(function() {
    tinyMCE.init(#{configuration.options_for_tinymce.to_json});
  })
