<%= simple_form_for @case do |f| %>

  <%= image_tag inline_order_form_url(@case.order_form, :type => :address) if @case.order_form %>

  <p><label for="case_examination_date">Abstrichdatum</label><br/>
  <%= text_field 'case', 'examination_date'  %></p>

  <p><label for="case_entry_date">Eingangsdatum</label><br/>
  <%= text_field 'case', 'entry_date'  %></p>

  <p><label for="case_praxistar_eingangsnr">Eingangsnr</label><br/>
  <%= text_field 'case', 'praxistar_eingangsnr'  %></p>

  <p><label for="case_doctor_id">Arzt:</label><br/>
  <%= select :case, :doctor_id, doctors_collection %></p>

  <p><label for="case_examination_method_id">Methode</label><br/>
  <%= select :case, :examination_method_id, ExaminationMethod.all.collect { |m| [ m.name, m.id ] } %></p>

  <%= f.submit %>
<%- end %>
