= simple_form_for resource do |f|
  .row-fluid
    .span6
      .row-fluid
        = f.input :examination_date, :as => :date_field
      .row-fluid
        .span6= f.input :entry_date, :as => :date_field
      .row-fluid
        .span6= f.input :praxistar_eingangsnr
      .row-fluid
        .span6= f.association :doctor
      .row-fluid
        .span6= f.association :examination_method

    .span6
      = link_to image_tag(inline_order_form_url(@case.order_form, :type => :overview)), resource.order_form if resource.order_form

  .form-actions
    = f.button :submit
