- case_nr = "#{item.praxistar_eingangsnr}"
- case_nr += " (#{item.intra_day_id})" unless item.intra_day_id.nil?
%tr
  %td
    = item.entry_date unless item.entry_date.nil?
    = "(#{item.first_entry_by.code})" unless item.first_entry_by.nil?
  %td
    = link_to case_nr, next_step_case_path(item)

  %td{:class => "PAP_#{item.classification.code unless item.classification.nil?}"}= item.classification.name unless item.classification.nil?
  %td
    - for finding in item.finding_classes
      %div
        = finding.code
        \- #{finding.name.html_safe}
  %td= render :partial => '/patients/compact', :object => item.patient unless item.patient.nil?
  %td= item.doctor.try(:name)
  %td= item.screener.try(:code)
  %td
    - if item.order_form
      = link_to "Auftrag", inline_order_form_url(item.order_form)
      = link_to "Klinische Symptome", inline_order_form_url(item.order_form, :type => "result_remarks")
      = link_to "Personalien", inline_order_form_url(item.order_form, :type => "address")
    %br/
    - if current_tenant.settings['modules.slidepath']
      %span.slidepath_links{"data-case-id" => item.id}
  %td= "X" if item.needs_p16?
  %td= "X" if item.needs_hpv?
  %td
    sign:&nbsp;#{item.screened_at.try(:to_date)}
    %br/
    vers:&nbsp;
    - for mailing in item.mailings
      = link_to mailing.created_at.to_date, :controller => 'mailings', :action => :show, :id => mailing.id
    - if item.needs_p16? or item.needs_hpv?
      %br/
      - if item.hpv_p16_prepared_at
        HPV/P16:&nbsp;#{hpv_p16_prepared_text(item)}
      - else
        HPV/P16:&nbsp;
        %span{:id => "prepare_hpv_p16_#{item.id}"}= link_to image_tag('prepare_p16.png'), hpv_p16_prepared_case_path(item), :method => :post, :remote => true
  - if @include_bill
    %td
      = link_to_cydoc_session "Rechnung", item.session
  %td{:style => "width: 8em"}
    .btn-group
      = link_to t_action('edit'), edit_case_path(item), :class => 'btn btn-mini'
      %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu.pull-right
        = link_to t_action('delete'), case_path(item), :method => :delete, :confirm => 'Fall wirklich löschen?' if can? :destroy, Case
        = link_to t_action('print_fax'), print_result_report_case_path(item, :page_size => 'A4'), :method => :post, :remote => true
        = link_to t_action('print'), print_result_report_case_path(item), :method => :post, :remote => true
        = link_to t_action('create_hpv_p16'), create_hpv_p16_for_case_case_path(item), :method => :post
        = link_to t_action('review_done'), review_done_case_path(item), :method => :post if item.needs_review?
        = link_to t_action('print_label'), print_case_label_path(item), :method => :post, :remote => true
