<% case_nr = "#{item.praxistar_eingangsnr}" %>
<% case_nr += " (#{item.intra_day_id})" unless item.intra_day_id.nil? %>
<tr>
  <td>
    <%= item.entry_date unless item.entry_date.nil? %>
    <%= "(#{item.first_entry_by.code})" unless item.first_entry_by.nil? %>
  </td>
  <td><%= 
    if item.ready_for_first_entry
      link_to case_nr, {:controller => 'cases', :action => 'first_entry', :id => item}
    elsif item.ready_for_second_entry
      link_to case_nr, {:controller => 'cases', :action => 'second_entry_pap_form', :id => item}
    elsif item.ready_for_p16
      link_to case_nr, {:controller => 'cases', :action => 'second_entry_pap_form', :id => item}
    else
      link_to case_nr, {:controller => 'cases', :action => 'result_report', :id => item}
    end
  %></td>
  <td class="PAP_<%= item.classification.code unless item.classification.nil? %>"><%= item.classification.name unless item.classification.nil? %></td>
  <td>
  <% for finding in item.finding_classes %>
    <div><%= finding.code %> - <%= finding.name.html_safe %></div>
  <% end %>
  </td>
  <td><%= render :partial => '/patients/compact', :object => item.patient unless item.patient.nil? %></td>
  <td><%= item.doctor.name unless item.doctor.nil? %></td>
  <td><%= item.screener.code unless item.screener.nil? %></td>
  <td>
    <% if item.order_form %>
      <%= link_to "Auftrag", url_for_file_column(item.order_form, "file") %>
      <%= link_to "Klinische Symptome", url_for_file_column(item.order_form, "file", "result_remarks") %>
      <%= link_to "Personalien", url_for_file_column(item.order_form, "file", "address") %>
    <% end %>
    <br/>
    <span class="slidepath_links" data-case-id="<%= item.id %>"/>
  </td>
  <td><%= "X" if item.needs_p16? %></td>
  <td><%= "X" if item.needs_hpv? %></td>
  <td>
    sign:&nbsp;<%= item.screened_at.strftime("%d.%m.%Y") unless item.screened_at.nil? %><br/>
    vers:&nbsp;<% for mailing in item.mailings %>
      <%= link_to mailing.created_at.strftime("%d.%m.%Y"), :controller => 'mailings', :action => :show, :id => mailing.id %>
    <% end %>
    <% if item.needs_p16? or item.needs_hpv? %>
      <br/>
      <% if item.hpv_p16_prepared_at %>
        HPV/P16:&nbsp;<%= hpv_p16_prepared_text(item) %>
      <% else %>
        HPV/P16:&nbsp;<span id="prepare_hpv_p16_<%= item.id %>"><%= link_to image_tag('prepare_p16.png'), hpv_p16_prepared_case_path(item), :method => :post, :remote => true %></span>
      <% end %>
    <% end %>
  </td>
  <% if @include_bill %>
    <td>
      <%= link_to_cydoc "Rechnung", "sessions/#{item.session_id}" %>
    </td>
  <% end %>
  <td style="width: 8em">
    <div class="btn-group">
      <%= link_to t_action('edit'), edit_case_path(item), :class => 'btn btn-mini' %>
      <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <%= link_to t_action('delete'), case_path(item), :method => :delete, :confirm => 'Fall wirklich löschen?' if can? :destroy, Case %>
        <%= link_to t_action('print_fax'), print_result_report_case_path(item, :page_size => 'A4'), :method => :post %>
        <%= link_to t_action('print'), print_result_report_case_path(item), :method => :post %>
        <%= link_to t_action('create_hpv_p16'), create_hpv_p16_for_case_case_path(item), :method => :post %>
        <%= link_to t_action('review_done'), review_done_case_path(item), :method => :post if item.needs_review? -%>
        <%= link_to t_action('print_label'), case_label_single_label_print_path(:id => item.id), :method => :post %>
      </ul>
    </div>
  </td>
</tr>
