- case_nr = "#{item.code_to_s}"
- case_nr += " (#{item.intra_day_id})" unless item.intra_day_id.nil?
%tr
  %td
    = item.entry_date unless item.entry_date.nil?
    = "(#{item.first_entry_by.code})" unless item.first_entry_by.nil?
  %td
    = link_to case_nr, next_step_case_path(item)

  %td= item.classification
  %td= render :partial => '/patients/compact', :object => item.patient unless item.patient.nil?
  %td
    = item.doctor.try(:name)
    - item.case_copy_tos.each do |case_copy_to|
      %p
        %i.icon-envelope
        = case_copy_to.person.to_s
  %td= "%s (%s)" % [item.screened_at.to_date, item.screener.code] if item.screened_at && item.screener
  %td= "%s (%s)" % [item.review_at.to_date, item.reviewer.code] if item.review_at && item.reviewer
  - if current_tenant.settings['modules.p16']
    %td= "X" if item.needs_p16?
    %td= "X" if item.needs_hpv?
  %td
    - for send_queue in item.send_queues
      %p
        = channel_label(send_queue.channel)
        = send_queue.sent_at.nil? ? "ready to send" : send_queue.sent_at.to_date
    - if current_tenant.settings['modules.p16'] and (item.needs_p16? or item.needs_hpv?)
      %br/
      - if item.hpv_p16_prepared_at
        HPV/P16:&nbsp;#{hpv_p16_prepared_text(item)}
      - else
        HPV/P16:&nbsp;
        %span{:id => "prepare_hpv_p16_#{item.id}"}= link_to image_tag('prepare_p16.png'), hpv_p16_prepared_case_path(item), :method => :post, :remote => true
  %td{:style => "width: 8em"}
    .btn-group
      = link_to t_action('edit'), edit_case_path(item), :class => 'btn btn-mini'
      %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu.pull-right
        %li= link_to t_action('delete'), case_path(item), :method => :delete, :confirm => 'Fall wirklich löschen?' if can? :destroy, Case
        %li= link_to t_action('print_fax'), print_result_report_case_path(item, :page_size => 'A4'), :method => :post, :remote => true
        %li= link_to t_action('print'), print_result_report_case_path(item), :method => :post, :remote => true
        %li= link_to t_action(:pdf), case_path(item, :page_size => 'A4', :format => :pdf)
        %li= link_to t_action('create_hpv_p16'), create_hpv_p16_for_case_case_path(item), :method => :post if current_tenant.settings['modules.p16']
        %li= link_to t_action('review_done'), review_done_case_path(item), :method => :post if item.needs_review?
        %li= link_to t_action('print_label'), print_case_label_path(item), :method => :post, :remote => true
