<%= paginated_section @cases, :params => {:query => params[:order]} do %>
  <%= loading_indicator_tag :id => 'search' %>
  <table class="table table-bordered table-striped table-condensed">
    <%= render 'cases/list_header' %>
    <%= render :partial => 'cases/item', :collection => @cases %>
  </table>

  <%= javascript_tag "setupSlidepathLinks()" %>
<% end %>
