%tr
  %th= t_attr(:entry_date, Case)
  %th= t_attr(:code, Case)
  %th= t_attr(:classification, Case)
  %th= t_attr(:patient, Case)
  %th= t_attr(:doctor, Case)
  %th Zytologin
  - if current_tenant.settings['modules.p16']
    %th P16
    %th HPV
  %th Status
  %th
