.row-fluid
  .span6
    = [@case.review_by.tenant.person.vcard.try(:locality), l(@case.review_at.to_date, :format => :long)].compact.join(', ') if @case.review_by && @case.review_at
  .span6
    = @case.doctor.vcard.honorific_prefix if @case.doctor
    = render "/vcards/show", :vcard => @case.doctor.vcard if @case.doctor
%br
%br
%br

.row-fluid
  .span12
    %h4= @case.to_s
.row-fluid
  .span12
    = sanitize(@case.finding_text, :tags => %w(p strong br), :attributes => [])
%br
%br
%br

- if @case.review_by && @case.review_at
  .row-fluid
    .span6
    .span6
      %strong
        = @case.review_by.vcard.honorific_prefix
        = @case.review_by.vcard.full_name
      - if @case.review_by.vcard.extended_address.present?
        %br
        %strong
          = @case.review_by.vcard.extended_address
      %br
      = "Visum: #{@case.review_at}"
  %br
  %br
  %br

.row-fluid
  .span2
    Einsender:
  .span10
    = full_address(@case.doctor.vcard, ', ') if @case.doctor

.row-fluid
  .span2
    = @case.classification.code if @case.classification
