.sheet_a5.well
  .report
    #patient
      - unless @case.patient.doctor_patient_nr.blank?
        = @case.patient.doctor_patient_nr
        %br/
      = render "/vcards/show", :vcard => @case.patient.vcard
      %br/
      = @case.patient.birth_date unless @case.patient.birth_date.nil?
      %br/
    #insurance
      - if !@case.insurance.nil?
        = @case.insurance.name
        = "##{@case.insurance_nr}" unless @case.insurance_nr.nil? or @case.insurance_nr.strip == "0" or @case.insurance_nr.strip == ""
    #doctor
      = @case.doctor.praxis.honorific_prefix
      %br/
      = render "/vcards/show", :vcard => @case.doctor.praxis
    #case
      Entnahme vom: #{@case.examination_date ? @case.examination_date.strftime("%d.%m.%Y") : "Noch nicht gesetzt"}
      %br/
      Eingang am: #{@case.entry_date ? @case.entry_date.strftime("%d.%m.%Y") : "Noch nicht gesetzt"}
    #subject.title
      Ihr Auftrag Nr. #{@case.praxistar_eingangsnr}
    #remarks
      = image_tag inline_order_form_url(@case.order_form, :type => :result_remarks), :size => '410x192' if @case.order_form
    #finding_title.title
      Befund
    #classification{:class => "PAP_#{h @case.classification.code unless @case.classification.nil?}"}
      = @case.classification.name unless @case.classification.nil?
    #findings
      #finding_list
        = render 'list_findings'
    #special_findings
      - for finding in @case.control_findings
        %div{:class => finding_css_class(finding)}= finding.name
      %br/
      - for finding in @case.quality_findings
        %div{:class => finding_css_class(finding)}= finding.name
    #signature
      = button_to "Visum: #{@case.screener.work_vcard.abbreviated_name unless @case.screener.nil?}, #{@case.screened_at.strftime("%d.%m.%Y") unless @case.screened_at.nil?}", :action => 'sign', :id => @case
      - unless @case.review_by.nil?
        %br/
        = button_to "Visum: #{@case.review_by.work_vcard.abbreviated_name}, #{@case.review_at.strftime("%d.%m.%Y") unless @case.review_at.nil?}", :action => 'review_done', :id => @case
