.row-fluid
  .span6
    = [@case.screener.tenant.person.vcard.try(:locality), l(@case.screened_at.to_date, :format => :long)].compact.join(', ') if @case.screener && @case.screened_at
  .span6
    = @case.doctor.vcard.honorific_prefix if @case.doctor
    = render "/vcards/show", :vcard => @case.doctor.vcard if @case.doctor
%br
%br
%br

.row-fluid
  .span12
    %h4= @case.to_s
.row-fluid
  .span12
    = @case.finding_text.try(:html_safe)
%br
%br
%br

- if @case.screener && @case.screened_at
  .row-fluid
    .span6
    .span6
      %strong
        = @case.screener.vcard.honorific_prefix
        = @case.screener.vcard.full_name
      - if @case.screener.vcard.extended_address.present?
        %br
        %strong
          = @case.screener.vcard.extended_address
      %br
      = "Visum: #{@case.screened_at}"
  %br
  %br
  %br

.row-fluid
  .span2
    Einsender:
  .span10
    = full_address(@case.doctor.vcard, ', ') if @case.doctor

.row-fluid
  .span2
    = @case.classification.code if @case.classification
