<h1>Anschreibliste</h1>

<table>
<% for @a_case in @cases %>
<% a_case = @a_case %>
  <tr>
    <td>
      <%= link_to(image_tag(url_for_image_column(@a_case.order_form, "file", :head)), url_for_file_column(@a_case.order_form, "file")) unless @a_case.order_form.nil? or @a_case.order_form.file.nil? %>
    </td>
    <td style="border-top: solid 2px; border-bottom: solid 2px">
      <table>
        <tr>
          <td><%= link_to image_tag('remove.png'), {:controller => 'cases', :action => 'delete_rest_of_assigning', :assigned_at => @assigned_at, :intra_day_id => a_case.intra_day_id}, :confirm => "Aufträge ab Tagesnummer #{a_case.intra_day_id} löschen?", :post => true unless @assigned_at.nil? %>
        </tr>
        <tr>
          <td>Tagesnr.:</td><td><%=h a_case.intra_day_id %></td>
        </tr>
        <tr>
          <td>Eingangsnr:</td><td><%= a_case.praxistar_eingangsnr %></td>
        </tr>
        <tr>
          <td>Abstrichdatum:</td><td><%= a_case.examination_date %></td>
        </tr>
        <tr>
          <td>Arzt:</td><td><%= a_case.doctor.name %></td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
</table>

<%= link_to "Fertig", :action => 'first_entry_queue' %>
