<h1>Editing case</h1>

<%= form_for @case do |f| %>
  <%= render :partial => 'form' %>
  <%= f.submit %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @case %> |
<%= link_to 'Back', :action => 'list' %>
