.sheet_a5
  .report
    #patient
      - if !(@case.patient.doctor_patient_nr.nil? or @case.patient.doctor_patient_nr == '')
        = h @case.patient.doctor_patient_nr
        %br/
      = render :partial => "/vcards/show", :locals => {:vcard => @case.patient.vcard}
      %br/
      = h @case.patient.birth_date unless @case.patient.birth_date.nil?
      %br/
    #insurance
      - if !@case.insurance.nil?
        = h @case.insurance.name
        = h "##{@case.insurance_nr}" unless @case.insurance_nr.nil? or @case.insurance_nr.strip == "0" or @case.insurance_nr.strip == ""
    #doctor
      = h @case.doctor.praxis.honorific_prefix
      %br/
      = render :partial => "/vcards/show", :locals => {:vcard => @case.doctor.praxis}
    #case
      Entnahme vom: #{h @case.examination_date.strftime("%d.%m.%Y")}
      %br/
      Eingang am: #{h @case.entry_date.strftime("%d.%m.%Y")}
    #subject.title
      Ihr Auftrag Nr. #{h @case.praxistar_eingangsnr}
    #eg_finding_title.title
      Befund
    #eg_classification{:class => "PAP_#{h @case.classification.code}"}
      = h @case.classification.name
    = form_tag :action => 'sign', :id => @case  do
      #eg_remarks
        = text_area 'case', 'finding_text', :rows => 13
      #signature
        = submit_tag "Visum: #{@case.screener.work_vcard.abbreviated_name unless @case.screener.nil?}, #{@case.screened_at.strftime("%d.%m.%Y") unless @case.screened_at.nil?}"
        - unless @case.review_by.nil?
          %br/
          = button_to "Visum: #{@case.review_by.work_vcard.abbreviated_name}, #{@case.review_at.strftime("%d.%m.%Y") unless @case.review_at.nil?}", :action => 'review_done', :id => @case
    = render :partial => "cases/labels", :object => @case.patient
