<table>
  <tr>
    <td id="head" style="min-width: 600px">
      <%= order_form_head_image(@case.order_form, @header_image_type ) %>
    </td>
    <td>
      <%= link_to image_tag('zoom-in.png'), head_big_order_form_path(@case.order_form), :remote => true %>
      <%= link_to image_tag('zoom-out.png'), head_small_order_form_path(@case.order_form), :remote => true %>
      <%= link_to image_tag('zoom-full.png'), url_for_file_column(@case.order_form, "file") unless @case.order_form.nil? %>
      <br/><br/>
      <%= (link_to image_tag(url_for_image_column(@case.order_form, "file", :foot), :width => 450), url_for_file_column(@case.order_form, "file")) unless @case.order_form.nil? %>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top" colspan="2">
      <div id="edit_form"></div>

      <table style="width: 100%; height: 100%">
        <tr style="vertical-align: top">
          <td id="diagnoses">
            <%= error_messages_for 'case' %>
            <div id="search_form">
              <%= render :partial => '/patients/search_form' %>
            </div>
          </td>
          <td style="min-width: 200px; vertical-align: top">
            <%= render :partial => 'info', :object => @case %>
          </td>
        </tr>
      </table>
      
      <div id="search_result">
        <%= loading_indicator_tag :id => 'search' %>
      </div>
    </td>
  </tr>
</table>
