.contextual
  = contextual_link_to :delete, nil, :type => 'danger'
  =# TODO: only show if next case exists
  = contextual_link_to :skip_first_entry, @case, :icon => 'forward'

= boot_page_title

- if @case.order_form
  .row-fluid
    .span12.well
      #head.span6
        = order_form_head_image(@case.order_form, @header_image_type )
      .span6
        .row-fluid
          = link_to image_tag('zoom-in.png'), head_big_order_form_path(@case.order_form), :remote => true
          = link_to image_tag('zoom-out.png'), head_small_order_form_path(@case.order_form), :remote => true
          = link_to image_tag('zoom-full.png'), inline_order_form_url(@case.order_form)
        .row-fluid
          = link_to image_tag(inline_order_form_url(@case.order_form, :type => :foot), :width => 450), order_form_path(@case.order_form), :remote => true

.row-fluid
  .span12
    = render :partial => '/patients/search_form'

- content_for :sidebar do
  = render :partial => 'cases/case_info', :object => @case
