.contextual
  = contextual_link_to :delete, nil, :type => 'danger'
  =# TODO: only show if next case exists
  = contextual_link_to :next_first_entry, @case, :icon => 'forward'

- if @case.order_form
  .row-fluid
    .span12.well.well-small
      #head.span7
        = order_form_head_image(@case.order_form)
      .span5
        = link_to image_tag(inline_order_form_url(@case.order_form, :type => :foot), :width => 450), order_form_path(@case.order_form), :remote => true

.row-fluid
  .span12
    #patient-search= render 'case/patients/search_form'
    #patient-form

- content_for :sidebar do
  = render :partial => 'cases/case_info', :object => @case
  #case-history
