.sheet_a5
  .report
    #patient
      - if !(@case.patient.doctor_patient_nr.nil? or @case.patient.doctor_patient_nr == '')
        = h @case.patient.doctor_patient_nr
        %br/
      = render :partial => "/vcards/show", :locals => {:vcard => @case.patient.vcard}
      %br/
      = h @case.patient.birth_date unless @case.patient.birth_date.nil?
      %br/
    #insurance
      - if !@case.insurance.nil?
        = h @case.insurance.name
        = h "##{@case.insurance_nr}" unless @case.insurance_nr.nil? or @case.insurance_nr.strip == "0" or @case.insurance_nr.strip == ""
    #doctor
      = h @case.doctor.praxis.honorific_prefix
      %br/
      = render :partial => "/vcards/show", :locals => {:vcard => @case.doctor.praxis}
    #case
      Entnahme vom: #{h @case.examination_date.strftime("%d.%m.%Y")}
      %br/
      Eingang am: #{h @case.entry_date.strftime("%d.%m.%Y")}
    #subject.title
      Ihr Auftrag Nr. #{h @case.praxistar_eingangsnr}
    #hpv_finding_title.title
      Befund
    #hpv_classification{:class => "PAP_#{h @case.classification.code}"}
      = h @case.classification.name
    = form_tag :action => 'sign', :id => @case  do
      #hpv_findings
        %span{:style => "font-family: ChollaSansBold"} High-Risk
        Papillomavirus =
        %span{:style => "font-family: ChollaSansBold"}
          = if ! @case.finding_classes.select { |finding| finding.code == 'h-pos' }.empty?    |
              "positiv"                                                                       |
            elsif ! @case.finding_classes.select { |finding| finding.code == 'h-neg' }.empty? |
              "negativ"                                                                       |
            end                                                                               |
        %br/
        %span{:style => "font-family: ChollaSansBold"} Low-Risk
        Papillomavirus =
        %span{:style => "font-family: ChollaSansBold"}
          = if ! @case.finding_classes.select { |finding| finding.code == 'l-pos' }.empty?    |
              "positiv"                                                                       |
            elsif ! @case.finding_classes.select { |finding| finding.code == 'l-neg' }.empty? |
              "negativ"                                                                       |
            end                                                                               |
      #hpv_remarks
        .title Anmerkung
        HPV-HRT (High-Risk-Typen):  16, 18, 31, 33, 35, 45, 51, 52, 56
        %br/
        HPV-LRT (Low-Risk-Typen):  6, 11, 42, 43, 44
      #signature
        = submit_tag "Visum: #{@case.screener.work_vcard.abbreviated_name unless @case.screener.nil?}, #{@case.screened_at.strftime("%d.%m.%Y")}"
        = submit_tag "Visum: #{@case.screener.work_vcard.abbreviated_name unless @case.screener.nil?}, #{@case.screened_at.strftime("%d.%m.%Y") unless @case.screened_at.nil?}"
        - unless @case.review_by.nil?
          %br/
          = button_to "Visum: #{@case.review_by.work_vcard.abbreviated_name}, #{@case.review_at.strftime("%d.%m.%Y") unless @case.review_at.nil?}", :action => 'review_done', :id => @case
    = render :partial => "cases/labels", :object => @case.patient
