- code = @case.classification.code
%table{:style => "width: 100%; height: 100%"}
  %tr{:style => "vertical-align: top"}
    %td#diagnoses{:style => "min-width: 700px"}
      %fieldset{:style => "width: 95%; text-align: center"}
        %legend Bemerkungen
        = link_to image_tag(inline_order_form_url(@case.order_form, :type => :result_remarks), :size => "680x305"), inline_order_form_url(@case.order_form) if @case.order_form
      %fieldset{:style => "width: 95%"}
        %legend Klassifikation
        %table
          %tr
            %td= classification_button(code + 'G')
            %td= classification_button(code + 'G_AS')
            %td= classification_button(code + 'S')
    %td#personal-information{:style => "min-width: 200px"}
      = render 'info'
