<script type="text/javascript">
//<![CDATA[
Event.observe(window, 'load', function() {$('finding_class_code').focus()}, false);
//]]>
</script>

<table style="width: 100%; height: 100%">
  <tr style="vertical-align: top">
    <td id="diagnoses" style="min-width: 700px">
      <fieldset style="width: 95%">
        <legend>Befunde</legend>
        <p>
          <%= render :partial => "finding_form" %>
        </p>
      </fieldset>
      <fieldset style="width: 95%; min-height: 160px">
        <legend>Resultat</legend>
        <%= form_tag( :action => "second_entry_update", :id => @case )  do %>
          <table style="width: 100%; height: 100%">
            <tr>
              <td style="vertical-align: top; width: 100%">
                <div id="findings">
                  <%= render :partial => 'finding_classes/list_findings' %>
                </div>
              </td>
              <td>
                <label for="cases_remarks" style="display: block">Bemerkungen zum Fall:</label>
                <%= text_area :case, :remarks, :cols => 40, :rows => 8 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= submit_tag "Erstellen" %>
                <%= submit_tag "P16" %>
                <%= submit_tag "P16+HPV" %>
                <%= submit_tag "Review" %>
              </td>
            </tr>
          </table>
        <% end %>
      </fieldset>
      <fieldset style="width: 95%; text-align: center">
        <legend>Formular</legend>
        <%= link_to image_tag(inline_order_form_url(@case.order_form, :type => :result_remarks), :size => "680x305"), inline_order_form_url(@case.order_form) if @case.order_form %>
      </fieldset>
    </td>
    <td id="personal-information" style="min-width: 200px">
      <%= render :partial => 'info', :object => @case %>
    </td>
  </tr>
</table>
