.row-fluid
  = render "finding_form"

= simple_form_for @case, :url => second_entry_update_case_path(@case) do |f|
  .row-fluid
    .span12
      = f.input :finding_text, :wrapper => :inline, :input_html => {:rows =>20, :class => "span12 tinymce"}

  .form-actions
    = f.button :submit, "Erstellen", :class => 'span2 btn-big btn-primary'
    = f.button :submit, "P16", :class => 'span2 btn-big' if current_tenant.settings['modules.p16']
    = f.button :submit, "P16+HPV", :class => 'span2 btn-big' if current_tenant.settings['modules.p16']
    = f.button :submit, "Review", :class => 'span2 btn-big'

  .row-fluid
    .span12
      .span6
        = link_to image_tag(inline_order_form_url(@case.order_form, :type => :result_remarks), :size => "680x305"), order_form_path(@case.order_form), :remote => true
      .span6
        .row-fluid
          .span12= f.association :classification, :input_html => {'data-placeholder' => 'Klassifikation auswählen', :class => 'select2'}
        .row-fluid
          .span12= f.input :remarks, :input_html => {:class => 'span12', :rows => 4}

- content_for :sidebar do
  = render 'info'

- configuration = TinyMCE::Rails.configuration
:javascript
  $(document).ready(function() {
    tinyMCE.init(#{configuration.options_for_tinymce.to_json});
  })

