%div{:style => 'margin-bottom: 10px'}
  .btn-group{:style => 'display: inline-block'}
    = link_to t_action(:print), print_result_report_case_path(@case), :method => :post, :remote => true, :class => 'btn'
    %button.btn.dropdown-toggle{'data-toggle' => 'dropdown'}
      %span.caret
    %ul.dropdown-menu
      %li= link_to t_action(:print_fax), print_result_report_case_path(@case, :page_size => 'A4'), :remote => true, :method => :post
      %li= link_to t_action(:pdf), case_path(@case, :page_size => 'A4', :format => :pdf)
      %li= link_to t_action(:resend), resend_case_path(@case), :method => :post, :remote => true
      %li= link_to t_action(:print_label), print_case_label_path(@case), :remote => true, :method => :post

  .btn-group{:style => 'display: inline-block'}
    = link_to t_action(:edit), edit_case_path(@case), :class => 'btn'
    %button.btn.dropdown-toggle{'data-toggle' => 'dropdown'}
      %span.caret
    %ul.dropdown-menu
      %li= link_to t_action(:second_entry), second_entry_form_case_path(@case)
      %li= link_to t_action(:change_classification), classification_form_case_path(@case)
      %li= link_to t_action(:change_patient), first_entry_case_path(@case) if can? :change_patient, @case
      %li= link_to t_action(:delete), case_path(@case), :method => :delete, :confirm => 'Fall wirklich löschen?' if can? :destroy, @case

  = icon_link_to :show_invoice, cydoc_url_for("sessions/#{@case.session_id}"), :target => cydoc_hostname, :style => 'margin-left: 5px'
  = icon_link_to :sign, review_done_case_path(@case), :method => :post, :class => 'btn btn-primary' if can? :review_done, @case

.row-fluid
  .span6
    = image_tag inline_order_form_url(@case.order_form, :type => :overview) if @case.order_form
  .span6.well{:style => 'background-color: inherit'}
    = render 'result_report'

= content_for :sidebar do
  = render 'info'
