= boot_page_title

%p
  Es gibt #{@case_count} Auftragsformulare.
- if @first_case
  = image_tag inline_order_form_url(@first_case.order_form, :type => :overview), :size => "500x156" if @first_case.order_form
  = form_tag unassigned_sort_queue_cases_path, :method => :get do
    Starte mit Tagesnr: #{text_field 'case', 'intra_day_id', :size => 4}
    \#{submit_tag 'Los'}
- else
  Keine neuen Autragsformulare.
