<h1>Auftragsformular</h1>

<p>
  Es gibt <%= @case_count %> Auftragsformulare.
</p>

<% if @first_case %>
  <%= image_tag inline_order_form_url(@first_case.order_form, :type => :overview), :size => "500x156" if @first_case.order_form %>

  <%= form_tag :action => 'unassigned_sort_queue'  do %>
    Starte mit Tagesnr: <%= text_field 'case', 'intra_day_id', :size => 4 %>
    <%= submit_tag 'Los' %>
  <% end %>
<% else %>
  Keine neuen Autragsformulare.
<% end %>
