<h1>Tages Scans</h1>

<%= form_tag({:action => 'assign'}, :name => "unassigned") do %>
  <table>
  <% next_eingangs_nr = CaseNr.new %>
  <% intra_day_id = @intra_day_id %>
  
  <% for @a_case in @cases %>
  <% a_case = @a_case %>
    <tr>
      <td>
        <%= link_to(image_tag(url_for_image_column(@a_case.order_form, "file", :head)), url_for_file_column(@a_case.order_form, "file")) unless @a_case.order_form.nil? or @a_case.order_form.file.nil? %>
      </td>
      <td style="border-top: solid 2px; border-bottom: solid 2px; vertical-align: bottom">
        <% 
          @a_case.intra_day_id = intra_day_id
          intra_day_id += 1
          @a_case.praxistar_eingangsnr ||= next_eingangs_nr.to_s
          next_eingangs_nr.inc!
        %>
        <%= link_to 'Löschen', destroy_from_assign_case_path(a_case), :remote => true, :method => :delete %><br/>
        <table class="case" id="a_case_<%= a_case.id %>" data-case-id="<%= a_case.id %>">
          <tr>
            <td>Eingangsnr:</td><td><%= text_field "a_case[]", 'praxistar_eingangsnr', :size => 10, :tabindex => intra_day_id + 30000 %></td>
          </tr>
          <tr>
            <td>Tagesnr.:</td><td><%= text_field "a_case[]", 'intra_day_id', :size => 4, :tabindex => intra_day_id %></td>
          </tr>
          <tr>
            <td>Abstrichdatum.:</td><td><%= text_field "a_case[]", 'examination_date', :size => 8, :tabindex => intra_day_id + 10000 %></td>
          </tr>
          <tr>
            <td>Arzt:</td><td><%= select 'a_case[]', 'doctor_id', doctors_collection, { :include_blank => true }, :tabindex => intra_day_id + 20000 %></td>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
  </table>
  <%= submit_tag 'Zuweisen' %>
<% end %>
