= contextual_links

%h2= t_title

= paginated_section collection do
  - @attributes = ['login', 'email', 'role_texts', 'last_sign_in_at', 'locked_at']
  %table.table.table-bordered.table-striped.table-condensed{:class => "#{collection.first.class.to_s.downcase.pluralize} collection"}
    %thead
      %tr
        - @attributes.each do |field|
          %th= t_attr field, collection.first.class
        %th.action-links
    %tbody
      - collection.each do |r|
        %tr
          - @attributes.each do |field|
            %td= r.send(field) if r.respond_to?(field)
          %td.action-links
            =link_to t_action(:edit), edit_resource_url(r)
            =link_to t_action(:lock), lock_user_path(r), :method => :post unless r.locked_at?
            =link_to t_action(:unlock), unlock_user_path(r), :method => :post if r.locked_at?
            =link_to t_action(:delete), resource_url(r), :confirm => t_confirm_delete(r), :method => :delete
