.modal
  = modal_header 'Objektträger Etiketten drucken'

  .modal-body{:style => 'height: 150px'}
    = simple_form_for 'case_label', :url => case_label_print_path, :remote => true do |f|
      .row-fluid
        .span12
          = f.input 'start_praxistar_eingangsnr', :collection => label_select
          = f.input 'end_praxistar_eingangsnr', :collection => label_select
      .row-fluid.hidden-actions
        .form-actions
          = f.button :submit

  .modal-footer
    = link_to t_action(:print), '#', :class => 'btn submit-button'
    = link_to t_action(:cancel), '#', :class => 'btn', 'data-dismiss' => 'modal'
