.contextual
  .btn-group
    = link_to "In Arbeit", faxes_path(:by_state => :pending), :class => 'btn'
    = link_to "Alle", faxes_path, :class => 'btn'

= boot_page_title

= paginate collection
= render 'list', :collection => collection
= paginate collection
