= boot_alert(t('flash.action.dunning_stop'), 'error') if @patient.dunning_stop?

= simple_form_for @patient do |f|
  = render 'patients/personal_form', :f => f
  #billing_data
    %h3 Rechnungsdaten
    = render 'patients/billing_form', :f => f
  .row-fluid
    .span12
      = f.input :remarks, :input_html => {:class => 'span11', :rows => 4}

  .row-fluid
    .form-actions
      = f.button :submit
