%tr[patient]
  %td= link_to patient.vcard.full_name, patient, 'data-href-container' => 'tr'
  %td= patient.vcard.street_address
  %td= patient.vcard.postal_code
  %td= patient.vcard.locality
  %td= patient.birth_date
  %td= patient.doctor.name if patient.doctor
  %td= patient.doctor_patient_nr
  %td= patient.insurance.vcard.full_name if patient.insurance
  %td= patient.insurance_nr
