.contextual
  = contextual_link_to :delete
  = contextual_link_to :index
  = icon_link_to :invoice_overview, cydoc_url_for("patients/#{@patient.id}?tab=invoices"), :target => cydoc_hostname

= boot_page_title

= render 'form'
= render :partial => 'doctors/show', :object => @patient.doctor
= render :partial => 'cases/compact_list', :object => @patient.cases
