= contextual_links

= boot_page_title

= link_to_cydoc "Rechnungsübersicht", "patients/#{@patient.id}?tab=invoices"

= render 'form'
= render :partial => 'doctors/show', :object => @patient.doctor
= render :partial => 'cases/compact_list', :object => @patient.cases
