<style>
.booking {
  text-align: right
}

table.listing tr td.total {
  border-top: solid black 2px;
  border-bottom: double black 4px;
}
</style>

<h1>Debitoren</h1>

<%= form_tag do |f| %>
  <%= f.input_field :start_date %>
  <%= f.input_field :end_date %>
  <%= submit_tag 'Berechnen' %>
<% end %>

</pre>

<h1>Offene Posten</h1>
<table class="listing" style="width: 45%">
  <tr>
    <th>Valuta</th>
    <th>Rechnungsbetrag</th>
    <th>Mahnspesen1</th>
    <th>Mahnspesen2</th>
    <th>Mahnspesen3</th>
    <th>Zahlbetrag</th>
  </tr>

  <tr>
    <th><%= @start_date %></th>
    <th><%= cu_to_s(@opening_saldo.sum('cu_rechnungsbetrag')) %></th>
    <th><%= cu_to_s(@opening_saldo.sum('cu_mahnspesen1')) %></th>
    <th><%= cu_to_s(@opening_saldo.sum('cu_mahnspesen2')) %></th>
    <th><%= cu_to_s(@opening_saldo.sum('cu_mahnspesen3')) %></th>
    <th><%= cu_to_s(@opening_saldo.sum('cu_betrag')) %></th>
  </tr>
  <tr>
    <th><%= @end_date %></th>
    <th><%= cu_to_s(@closing_saldo.sum('cu_rechnungsbetrag')) %></th>
    <th><%= cu_to_s(@closing_saldo.sum('cu_mahnspesen1')) %></th>
    <th><%= cu_to_s(@closing_saldo.sum('cu_mahnspesen2')) %></th>
    <th><%= cu_to_s(@closing_saldo.sum('cu_mahnspesen3')) %></th>
    <th><%= cu_to_s(@closing_saldo.sum('cu_betrag')) %></th>
  </tr>
</table>

<table class="listing" style="width: 45%">
  <tr>
    <th>Name</th>
    <th>Soll</th>
    <th>Haben</th>
  </tr>

  <tr>
    <td>Er&ouml;ffnungssaldo</td>
    <td class="booking"><%=link_to cu_to_s(@opening_balance), :action => 'open_bills', :date => @start_date %></td>
    <td class="booking"></td>
  </tr>
  <tr>
    <td>Gestellte Rechnungen</td>
    <td class="booking"><%=h cu_to_s(@total_billed) %></td>
    <td class="booking"></td>
  </tr>
  <tr>
    <td>Gestellte Mahnspesen 2</td>
    <td class="booking"><%=h cu_to_s(@total_billed_spesen2) %></td>
    <td class="booking"></td>
  </tr>
  <tr>
    <td>Gestellte Mahnspesen 3</td>
    <td class="booking"><%=h cu_to_s(@total_billed_spesen3) %></td>
    <td class="booking"></td>
  </tr>
  <tr>
    <td>Stornierte Rechnungen</td>
    <td class="booking"></td>
    <td class="booking"><%= cu_to_s(@total_canceled_bills) %></td>
  </tr>
  <tr>
    <td>Bezahlte Rechnungen</td>
    <td class="booking"></td>
    <td class="booking"><%= cu_to_s(@total_paid) %></td>
  </tr>
  <tr>
    <td>Stornierte Zahlungen</td>
    <td class="booking"><%= cu_to_s(@total_canceled_payments) %></td>
    <td class="booking"></td>
  </tr>
  <tr>
    <td>Debitorenverluste</td>
    <td class="booking"></td>
    <td class="booking"><%= cu_to_s(@total_write_off) %></td>
  </tr>
  <tr>
    <td>Saldo</td>
    <td class="booking"></td>
    <td class="booking"><%=link_to cu_to_s(@closing_balance), :action => 'open_bills', :date => @end_date %></td>
  </tr>
  <tr>
    <td class="total">Total</td>
    <td class="total booking"><%= cu_to_s(@debit_total) %></td>
    <td class="total booking"><%= cu_to_s(@credit_total) %></td>
  </tr>
</table>
