= simple_form_for @classification do |f|
  .row-fluid
    .span6= f.input :name
  .row-fluid
    .span6= f.input :code
  .row-fluid
    .span6= f.input :default
  .row-fluid
    .span6= f.association :examination_method, :include_blank => false
  .row-fluid
    .span6= f.association :classification_group, :include_blank => false

  .form-actions
    = f.button :submit
