%table.table.table-striped.collection
  %tr
    %th= t_attr(:code)
    %th= t_attr(:title)
    %th= t_attr(:default)
    %th= t_attr(:examination_method)
    %th= t_attr(:classification_group)

  = render collection
