%h1 Listing classifications
%table
  %tr
    %th Code
    %th Name
    %th Methode
  - for classification in @classifications
    %tr
      %td= h classification.code
      %td= h classification.name
      %td= h classification.examination_method.name unless classification.examination_method.nil?
      %td= link_to 'Show', :action => 'show', :id => classification
      %td= link_to 'Edit', :action => 'edit', :id => classification
      %td= link_to 'Destroy', { :action => 'destroy', :id => classification }, :confirm => 'Are you sure?', :method => :post
= will_paginate @classifications
%br/
= link_to 'New classification', :action => 'new'
