<h1>New classification</h1>

<%= form_tag :action => 'create'  do %>
<%= error_messages_for 'classification' %>

<!--[form:classification]-->
<p><label for="classification_name">Name</label><br/>
<%= text_field 'classification', 'name'  %></p>

<p><label for="classification_code">Code</label><br/>
<%= text_field 'classification', 'code', :size => 5  %></p>
<!--[eoform:classification]-->

  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
