= simple_form_for 'case_label', :url => case_label_print_path, :remote => true do |f|
  .case_label_row.row-fluid
    .span4
      .control-group
        %label.control-label
          = t_attr(:entry_date, Case)
        .controls
          = text_field_tag 'case_label[][date]', Date.today, :class => 'span12'
    .span4
      .control-group
        %label.control-label
          = t_attr(:intra_day_id, Case)
        .controls
          = text_field_tag 'case_label[][day_nr]', @next_day_nr, :class => 'span12'
    .span4
      .control-group
        %label.control-label
          Anzahl
        .controls
          = text_field_tag 'case_label[][part_count]', 1, :class => 'span12', 'data-autofocus' => true

  .case_label_row.case_label_empty.row-fluid
    .span4
      .control-group
        %label.control-label
          = t_attr(:entry_date, Case)
        .controls
          = text_field_tag 'case_label[][date]', nil, :class => 'span12'
    .span4
      .control-group
        %label.control-label
          = t_attr(:intra_day_id, Case)
        .controls
          = text_field_tag 'case_label[][day_nr]', nil, :class => 'span12'
    .span4
      .control-group
        %label.control-label
          Anzahl
        .controls
          = text_field_tag 'case_label[][part_count]', nil, :class => 'span12'

  .form-actions
    = f.button :submit, t_action(:print), :class => 'btn-primary'
    = link_to t_action(:cancel), '#', :onclick => "$('#label-form').empty(); $('#label-button').show()", :class => 'btn'

:javascript
  addAutofocusBehaviour();

  $('form').on('focus', '.case_label_empty', function() {
    var row = $('.case_label_empty');
    var new_row = row.clone()
    new_row.insertAfter('.case_label_empty');
    row.removeClass('case_label_empty');

    var previous = row.prev('.case_label_row')
    var previous_date = previous.find("input[name='case_label[][date]']").val()
    row.find("input[name='case_label[][date]']").val(previous_date)
    var previous_day_nr = parseInt(previous.find("input[name='case_label[][day_nr]']").val())
    row.find("input[name='case_label[][day_nr]']").val(previous_day_nr + 1)
    row.find("input[name='case_label[][part_count]']").val(1)
    row.find("input[name='case_label[][part_count]']").focus().select()
  })

