.modal
  = modal_header 'Post Etiketten Drucken'

  .modal-body{:style => 'height: 150px'}
    = simple_form_for 'post_label', :remote => true do |f|
      .row-fluid
        .span12
          = f.input 'doctor_id', :as => :combobox, :collection => doctors_collection, :input_html => {'data-autofocus' => true}
      .row-fluid.hidden-actions
        .form-actions
          = f.button :submit

  .modal-footer
    = link_to t_action(:print), '#', :class => 'btn submit-button'
    = link_to t_action(:cancel), '#', :class => 'btn', 'data-dismiss' => 'modal'
