= boot_alert(t('flash.action.dunning_stop'), 'error') if @patient.dunning_stop?

= simple_form_for [@case, @patient], :remote => true do |f|
  = render 'patients/form_fields', :f => f, :resource => @patient

  .row-fluid.hidden-actions
    .form-actions
      = f.button :submit

%div{:style => 'min-height: 20px; padding: 10px 0'}
  .pull-right
    = icon_link_to :set_patient, '#', :icon => 'ok', :class => "submit-button"
    = icon_link_to :cancel, '#', :icon => 'remove', :class => "cancel-button"
