%table#patients.table.table-bordered.table-striped.table-condensed
  %tr
    %th.family_name= t_attr(:family_name, Vcard)
    %th.given_name= t_attr(:given_name, Vcard)
    %th.street_address= t_attr(:street_address, Vcard)
    %th.locality= t_attr(:postal_code, Vcard) + "/" + t_attr(:locality, Vcard)
    %th.birth_date= t_attr(:birth_date, Patient)
    %th.doctor= t_model(Doctor)
    %th.doctor_patient_nr= t_attr(:doctor_patient_nr, Patient)
    %th.insurance= t_attr(:insurance, Patient)
    %th.billing_address RA
    %th.actions Aktion

  = render :partial => 'patient', :collection => @patients.select{|patient| patient.vcard}
