#top_findings
- if false # TODO re-enable
  - @case.classification.top_finding_classes.in_groups_of(4, false).each do |finding_classes|
    .row-fluid
      - finding_classes.each do |finding_class|
        .span3= link_to_add_finding_class(@case, finding_class)

= simple_form_for 'finding_class', :url => '#', :remote => true, :id => "finding_classes" do |f|
  .row-fluid
    .span12= f.input :selection, :as => :string, :input_html => {:class => 'span12'}

:javascript
  function formatSelection(item) {
    return item.name
  }
  function format(item) {
    return '<span style="display: inline-block; width: 5em">' + item.id + '</span> ' + item.strip_text
  }
  function initSelection(element, callback) {
    callback([{id: null, text: null}])
  }
  function createSearchChoice(term) {
    var data = #{finding_class_collection.to_json}

    for(var i = 0; i < data.length; i++) {
      if (term == data[i].id) { return }
    }

    return {id: '', strip_text: term, name: term}
  }


  $('#finding_class_selection')
    .select2({
      placeholder: "Code/Text",
      allowClear: true,
      formatSelection: formatSelection,
      formatResult: format,
      initSelection: initSelection,
      createSearchChoice: createSearchChoice,
      data: #{finding_class_collection.to_json}
    })
    .on('close', function(e) {
      var text = $(this).select2("data").name
      $('#case_finding_text').tinymce().execCommand('mceInsertContent', false, ' ' + text)
      $(this).select2("val", null)
    })
