- year = "%02.f" % (params[:year] || '07')
%table.table.table-bordered.table-condensed{:style => "width: 100%"}
  %tr
    %th Klassifizierung
    %th{:style => "text-align: right"} Anzahl
    %th{:style => "text-align: right"} Anteil
  - for group in @group_counts
    - next if group[0].nil?
    - group_object = ClassificationGroup.find(group[0])
    %tr{:class => "PAP_#{h group_object.classifications[0].code}"}
      %td= h group_object.title
      %td{:style => "text-align: right"}= h group[1]
      %td{:style => "text-align: right"}
        = h "%.2f" % (group[1].to_f * 100 / @count)
        \%
  %tr
    %td{:style => "border-top: 2px solid; border-bottom: 4px double"} Total
    %td{:style => "text-align: right; border-top: 2px solid; border-bottom: 4px double"}= h @count
    %td{:style => "text-align: right; border-top: 2px solid; border-bottom: 4px double"}
