<%- year = "%02.f" % (params[:year] || '07') %>

<table class="table table-bordered table-striped table-condensed" style="width: 100%">
  <tr>
    <th>Klassifizierung</th>
    <th style="text-align: right">Anzahl</th>
    <th style="text-align: right">Anteil</th>
  </tr>
  <% for group in @group_counts %>
  <% next if group[0].nil? %>
  <% group_object = ClassificationGroup.find(group[0]) %>
  <tr class="PAP_<%=h group_object.classifications[0].code %>">
    <td><%=h group_object.title %></td>
    <td style="text-align: right"><%=h group[1] %></td>
    <td style="text-align: right"><%=h "%.2f" % (group[1].to_f * 100 / @count) %>%</td>
  </tr>
  <% end %>
  <tr>
    <td style="border-top: 2px solid; border-bottom: 4px double">Total</td>
    <td style="text-align: right; border-top: 2px solid; border-bottom: 4px double"><%=h @count %></td>
    <td style="text-align: right; border-top: 2px solid; border-bottom: 4px double"></td>
  </tr>
</table>
