= simple_form_for 'case', :url => search_reports_path, :remote => true do |f|
  = f.input :doctor_id, :collection => Doctor.all, :required => false
  = f.input :screener_id, :collection => Employee.all, :required => false
  = f.input :praxistar_eingangsnr, :required => false
  = f.input :entry_date, :required => false
  = f.input :examination_date, :required => false

  .form-actions
    = f.submit t_action 'refresh', :class => 'btn'
