= form_tag({:action => "search"}, :remote => true)  do
  %table{:style => "width: 100%"}
    %tr
      %td{:style => "vertical-align: top"}
        %fieldset{:style => "width: 98%"}
          %table
            = fields_for 'doctor', @doctor, :builder => Rubaidh::TabularForm::TabularFormBuilder do |f|
              = select_doctors :form => f
            = fields_for 'case', @case, :builder => Rubaidh::TabularForm::TabularFormBuilder do |f|
              = f.select :screener_id, Employee.all.collect { |e| [ "(#{e.code}) #{e.work_vcard.full_name}", e.id ] }, :include_blank => true, :label => "Zytologin"
              = f.text_field :praxistar_eingangsnr, :label => "Eingangsnr."
              = f.text_field :entry_date, :label => "Erfassung am"
              = f.text_field :examination_date, :label => "Abstrich vom"
          = submit_tag "Suchen"
