!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "Simon Huerlimann &lt;info@cyt.ch&gt;", :name => "author"}/
    %meta{:content => "Hozr", :name => "description"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag 'application', :media => 'screen, projection, print'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %title
      Hozr - #{controller.action_name}
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      img {
        border: 0px
      }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, :class => 'brand' do
            <span id="logo-yt">hozr</span>
          .nav-collapse
            = render_navigation(:level => 1..2, :renderer => BootstrapTopbarList, :expand_all => true)
            = form_tag search_path, :class => "navbar-search pull-left" do
              %input.search-query{:name => "query", :placeholder => "Suche", :type => "text"}/
            %div= render :partial => 'users/user_bar'
    .container-fluid
      .row-fluid
        #main.span10
          - if notice
            = boot_alert(notice, 'success')
          - if alert
            = boot_alert(alert, 'error')
          = yield
        #sidebar.span2
          = render_sidebars
