<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Simon Huerlimann &lt;huerlisi@gmail.com&gt;" />
    <meta name="keywords" content="zytologie labor limmatplatz zürich arzt zelle" />
    <meta name="description" content="Hozr - Zytolabor Limmatplatz" />
    
    <%= stylesheet_link_tag 'application', :media => 'screen, projection, print' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tag %>

    <title>Hozr - <%= controller.action_name %></title>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      img {
        border: 0px
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%= current_user %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profil", current_user %></li>
              <li class="divider"></li>
              <li><%= link_to "Abmelden", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "TODO", :controller => "/work_queue/admin" %></li>
              <li>
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Eingang
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Auftragsformulare", unassigned_form_cases_path %></li>
                      <li><%= link_to "Ersteingabe", first_entry_queue_cases_path %></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Bearbeitung
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Zweiteingabe", second_entry_queue_cases_path %></li>
                      <li><%= link_to "HPV/P16", hpv_p16_queue_cases_path %></li>
                      <li><%= link_to "Review", review_queue_cases_path %></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Drucken
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Papzettel Drucken", order_form_path %></li>
                      <li><%= link_to "Objektträger Etiketten", case_label_label_print_path %></li>
                      <li><%= link_to "P16 Etiketten", case_label_p16_label_print_path, :method => :post %></li>
                      <li><%= link_to "Packet Etiketten", post_label_label_print_path %></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Suche
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Suche", search_path %></li>
                      <li><%= link_to "Patienten", patients_path %></li>
                      <li><%= link_to "Ärzte", doctors_path %></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Administration
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Statistiken", reports_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Letzte Anschreiblisten", assignings_list_cases_path %></li>
                      <li><%= link_to "Letzte Resultatbriefe", send_queues_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Patienten mit Mahnstopp", dunning_stopped_patients_path %></li>
                      <li><%= link_to "Klassifikationen", classifications_path %></li>
                      <li><%= link_to "Klassifikationsgruppen", classification_groups_path %></li>
                      <li><%= link_to "Top Befunde pro Klassifikationen", top_finding_classes_path %></li>
                      <li><%= link_to "Befunde", finding_classes_path %></li>
                      <li><%= link_to "Mitarbeiter", employees_path %></li>
                      <li><%= link_to t_model(User), users_path %></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <%= form_tag patient_search_path, :class => "navbar-search pull-left" do %>
                  <input name="query" type="text" class="search-query" placeholder="Suche">
                <%- end %>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>

        <%= render :partial => 'navigation' if controller.controller_name == 'cases' and params[:id] %>
        <%= yield %>
    </div>
  </body>
</html>
